# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/


# Dataset de imágenes (muy pesado, no se versiona)
dataset/*
# pero conservamos la carpeta para mantener la estructura
!dataset/.gitkeep

# Fuentes de estandarización (ZIP/RAR pesados + imágenes raw)
sinEstandarizar/*.zip
sinEstandarizar/*.rar
sinEstandarizar/*.jpg
sinEstandarizar/*.jpeg
sinEstandarizar/*.png
sinEstandarizar/*.webp
sinEstandarizar/tmp_extract/

# Notebooks checkpoints
.ipynb_checkpoints/

# SO
.DS_Store
Thumbs.db
